<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo de Cuenta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stily.css') }}">
</head>
<body>

    <div class="account-container">
        <h1 class="account-title">Tipo de Cuenta</h1>
        
        <div class="button-group">
            <a href="{{ url_for('register_admin') }}" class="btn-big" style="text-decoration: none; display: block;">
                Administrador
            </a>
            
            <button class="btn-big">Invitado</button>
        </div>

        <div style="margin-top: 20px;">
            <a href="{{ url_for('home') }}" style="color: white; text-decoration: underline;">Volver al Inicio</a>
        </div>
    </div>

</body>
</html>
