<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo de Cuenta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stily.css') }}">
</head>
<body>

    <div class="account-container">
        <h1 class="account-title">Tipo de Cuenta</h1>
        
        <div class="button-group">
            <button class="btn-big">Administrador</button>
            <button class="btn-big">Invitado</button>
        </div>
    </div>

</body>
</html>
